[mysqld]
#
# * Basic Settings
#
#bind-address		= 127.0.0.1
# Error log - should be very few entries.
#down work - permission denied see docker logs db
#log_error = /var/log/mysql/error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
slow_query_log		= 1
long_query_time=0.1
slow_query_log_file	= /var/log/mysql/mysql-slow.log
general_log = 1
general_log_file = /var/lib/mysql/general.log